// Fontes
$font: 'Roboto', sans-serif;

// Cores
$color-primary: #0D4C92;
$color-secondary: #E0FCFF;
$color-tertiary: #7098DA;
$color-quaternary: #06283D;
$color-quinary: #DFF6FF;

// Tamanhos das fontes
$text-size: 3rem;